- content_for :title, "Servers"
%h1 Servers

- if false
  %p
    %strong #{@stats.count} files
    indexed with a total size of
    %strong= number_to_human_size @stats.filesize
    \.

%table.table
  %thead
    %tr
      %th Address
      %th Indexed files
      %th Total size
      %th Checked At
  %tbody
    = render collection
