- content_for :title, "Servers"
%h1 Servers

- if false
  %p
    %strong #{@stats.count} files
    indexed with a total size of
    %strong= number_to_human_size @stats.filesize
    \.

%table.table
  %thead
    %tr
      %th Size
      %th Files
      %th Host
      %th Crawled at
      %th Status
  %tbody
    = render partial: "server", collection: @hosts
