- content_for :title, "Servers"
%h1 Servers

%p
  %strong #{@hosts.size} servers
  with
  %strong #{@stats[:count]} entries
  and total size of
  %strong #{number_to_human_size @stats[:size]}
  \.

%table.table
  %thead
    %tr
      %th Size
      %th Files
      %th Host
      %th
      %th Crawled at
      %th Status
  %tbody
    = render partial: "server", collection: @hosts
