%h1<
  = link_to @host, '#', id: 'host'
  = "/"
  %span#path

%dl.dl-horizontal
  %dt URL:
  %dd
    %a#link{href:'#', 'data-base-uri' => @uri}= @uri
  %dt Cached:
  %dd
    %span#modified

.row
  = render 'search'

#files{ 'data-server-id' => @host }
  %ol.entries
