#results
  
  em.highlight
    background-color: #ff0
  
  a.path
    font-size: .85em
  
  a
    text-decoration: none
    &:hover
      text-decoration: underline
  
  h3
    font-size: 1.2em
    margin-top: .3em
  
  .features
    @extend .list-inline
  
  dl
    overflow: auto
    font-size: .9em
    dt
      float: left
      color: #999
    dd
      float: left
      margin: 0px 10px 0px 5px
